# SPDX-License-Identifier: GPL-2.0-only
# Optional: install these if you want gRPC transport to GoBGP (GOBGP_USE_GRPC=true)
# Adds ~100 MB of RAM usage.
# pip install -r requirements.txt -r requirements-grpc.txt
grpcio==1.78.0
protobuf==6.31.1
